
/* Great Britain Old English BT Font*/
@font-face {font-family: "Engravers' Old English BT";
    src: url("../assets/webfonts/d571b52b60b5617399ce8eab62bf3eb3.eot"); /* IE9*/
    src: url("../assets/webfonts/d571b52b60b5617399ce8eab62bf3eb3.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/webfonts/d571b52b60b5617399ce8eab62bf3eb3.woff") format("woff"), /* chrome firefox */
    url("../assets/webfonts/d571b52b60b5617399ce8eab62bf3eb3.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../assets/webfonts/d571b52b60b5617399ce8eab62bf3eb3.svg#Engravers' Old English BT") format("svg"); /* iOS 4.1- */
}


/* Japanese Font Type from Google Font */
@font-face {
    font-family: "jp";
    src: url("../assets/webfonts/jp.ttf") format("truetype");
}

.jp{
    font-family: "jp";
}